<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Maintenance page</h1>
    
    <p>ooops something not working right</p>
    {{> footer}}
  </body>

</html>
